body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.movie {
  border: 1px solid #999;
  margin: 1rem auto;
  padding: 1rem;
  box-sizing: border-box;
  flex: 0 0 24%;
}
.badge {
  background-color: rgb(19, 190, 28);
  color: #fff;
  font-weight: bold;
}

